<template>
    <h1>${droid.name}</h1>
    <div>
        ID: ${droid.id}
    </div>
    <div>
        Height: ${droid.height}
    </div>
    <div>
        Weight: ${droid.weight}
    </div>
    <div>
        Product Series: ${droid.productSeries}
    </div>
    <div>
        Imperial Contract: ${droid.imperialContractId}
    </div>
    <div>
        Equipment: ${droid.equipment.length>0}
    </div>
    <div>
        Armaments: ${droid.armaments.length>0}
    </div>

    <div>Are you sure you want to delete this droid?</div>
    <button click.delegate="deleteDroid()">Delete</button>
</template>