droid-tile {
  @include outer-container;

  .tile {
    @include span-columns(6);
    margin: $standard-gutter;
    padding: $standard-gutter;
    background-color: $color-tertiary-neutral;
    color: $color-tertiary-lighter;

    .row {
      @include row();

      .first {
        @include span-columns(8);
      }

      .second {
        @include span-columns(4);
      }
    }
  }
}