droid-tile {
  @include outer-container;

  .tile {
    width: 500px;
    min-height: 200px;
    margin: $standard-gutter;
    padding: $standard-gutter;
    background-color: $color-tertiary-neutral;
    color: $color-tertiary-text;

    .row {
      @include row();

      .hero-text {
        font-size: 120%;
      }

      .first {
        @include span-columns(8);
      }

      .second {
        @include span-columns(4);
      }
    }
  }
}