page-header {
  .header {
    background-color: $color-primary-neutral;
  }

  h1 {
    font-size: 24px;
    color: $color-primary-lightest;
    padding: 16px;
    margin: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $color-secondary-neutral;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    color: $color-secondary-lightest;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
  }

  li a:hover {
    background-color: $color-secondary-lighter;
    color: $color-secondary-lightest;
  }

  li a:visited,
  li a:focus {
    color: $color-secondary-lightest;
  }
}