<template>
    <require from="./../../resources/elements/log-in"></require>
    <div class="container column center-vertical center-horizontal full-height background-purple">
        <div class="large-heading light">
            Droid Worx
        </div>
        <div class="large-copy center light">
            Your One Stop Shop for Droid Rental<br> Battle droid, translator droid, bounty hunter or utility droid - we got
            them all!
        </div>
    </div>

    <!--<log-in></log-in>-->
</template>